@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Baskervville&display=swap");
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  overflow-y: scroll;
}

img {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: #002bc5;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

a:hover {
  color: #860000;
  border-radius: 3px;
  background-color: #ffe2e2;
}

h1 {
  font-family: 'Baskervville', sans-serif;
  font-size: 3.5rem;
  text-align: center;
  font-weight: 100;
  color: #001c82;
  padding: 0px;
  margin: 0px 0px 60px 0px;
}

h2 {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  color: #007d81;
  margin: 40px 0px 20px 0px;
}

h3 {
  font-size: 1.75rem;
  font-weight: 600;
  color: #006391;
  margin: 40px 0px 10px 0px;
}

ol > li, ul > li {
  margin: 0px;
  padding: 0px 0px 8px 0px;
}

strong {
  font-weight: 600;
}

#Header {
  width: 100%;
}

#MainContent {
  width: 94.75%;
  max-width: 1500px;
  min-width: 300px;
  margin: 0px auto;
  padding: 1px;
}

#Navbar {
  float: left;
  width: 25%;
  height: 100%;
  position: relative;
  top: 0px;
  left: 0px;
}

#Content {
  width: 74%;
  background-color: white;
  float: right;
  border-radius: 5px;
  padding: 40px 40px 35px 40px;
  margin: 0px 0px 40px 0px;
  -webkit-box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.75);
}

#Footer {
  color: gray;
  text-align: center;
  margin: 80px 0px 20px 0px;
}

#SiteHeaderDiv {
  text-align: center;
  margin: 10px 0px 40px 0px;
}

.SiteHeaderMain {
  color: white;
  text-align: center;
  font-family: 'Baskervville', sans-serif;
  font-size: 2.75rem;
  font-weight: 300;
  padding: 0px;
  margin: 50px 0px 10px 0px;
}

a.NavbarButton {
  font-weight: 600;
  color: white;
  white-space: nowrap;
  border-radius: 5px;
  margin: 0px 10px 6px 20px;
  padding: 10px 10px;
  text-shadow: 0px 1px 1px black;
  background-color: #ffffff3b;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

a.NavbarButton:first-child {
  margin-top: 0px !important;
}

a.active, a.NavbarButton:hover {
  margin-left: 0px;
  padding-left: 30px;
  background-color: white;
  text-shadow: 0px 1px 15px grey,  0px 1px 3px grey;
  color: black;
}

.SubNavList {
  margin: 0px 10px 6px 0px;
  padding: 0px;
  border-radius: 5px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.SubNavList p {
  color: #666;
  margin: 0px;
  -webkit-transition: background-color 0.35s ease-in-out;
  transition: background-color 0.35s ease-in-out;
}

.SubNavList p:hover {
  background-color: #ccc;
  color: black;
}

.SubNavList a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  background-color: transparent;
  padding: 8px 20px;
  width: 100%;
}

.FooterNavbarLink {
  font-size: 0.75rem;
  font-weight: 400;
  color: #666;
  text-decoration: underline;
}

.FooterDisclaimer {
  font-size: 0.75rem;
  font-weight: 400;
  color: #000d3d;
  text-decoration: underline;
  text-align: center;
  margin: 0px 0px 30px 0px;
}

.fa-bars {
  color: white;
}

.fa-external-link-alt {
  color: black;
}

#MenuDisplay {
  display: none;
  font-size: 2rem;
  text-align: left;
}

.SocialMediaLogo {
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 20px;
  left: 20px;
}

.NumberedList {
  list-style-type: decimal;
}

.LowerAlphaList {
  list-style-type: lower-alpha;
}

.UpperAlphaList {
  list-style-type: upper-alpha;
}

.LowerRomanList {
  list-style-type: lower-roman;
}

.UpperRomanList {
  list-style-type: upper-roman;
}

.UnorderedNoSymbolList {
  list-style-type: none;
}

.ExpandableSectionAccordion {
  border-radius: 15px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #000000;
  background-color: #004A41;
  overflow: hidden;
  padding: 0px;
}

.ExpandableSectionTitleContainer {
  position: relative;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #000000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#006e60), to(#004A41));
  background-image: linear-gradient(to bottom, #006e60, #004A41);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
          box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  text-shadow: 1px 1px 1px black;
  padding: 10px 30px 20px 40px;
  z-index: 0;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.ExpandableSectionTitleContainer::before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  border-color: white;
  content: '';
  display: inline-block;
  height: 0.45em;
  position: absolute;
  left: 15px;
  top: 14px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  width: 0.45em;
}

.ExpandableSectionTitleContainer:hover {
  -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.75);
  text-shadow: 0px 0px 10px white;
  z-index: 1;
}

.ExpandableSectionTitle {
  color: white;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0px;
  padding: 0px;
}

.ExpandableSectionUnderTitleLeft {
  color: white;
  font-weight: 600;
  font-size: 0.85rem;
  float: left;
  margin: 0px;
  padding: 0px;
}

.ExpandableSectionUnderTitleRight {
  color: white;
  font-weight: 600;
  font-size: 0.85rem;
  float: right;
  margin: 0px;
  padding: 0px;
}

.ExpandableSection {
  display: none;
  border-style: solid;
  border-width: 0px;
  border-color: #ccc;
  background-color: white;
  padding: 25px;
}

.PdfIcon {
  color: #e70000;
  font-size: 1.25rem;
  -webkit-box-shadow: 1px 1px 2px black;
          box-shadow: 1px 1px 2px black;
}

.ClearFloats {
  clear: both;
}

.Aside {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  padding: 20px;
  color: white;
  float: left;
  -webkit-box-shadow: 0px 0px 10px rgba(19, 56, 28, 0.75), 0px 0px 20px #1d643d inset, 0px -10px 30px #48d493 inset;
          box-shadow: 0px 0px 10px rgba(19, 56, 28, 0.75), 0px 0px 20px #1d643d inset, 0px -10px 30px #48d493 inset;
  background-image: linear-gradient(-45deg, #2d8354, #48b984);
  border-color: #27744e;
}

.Aside p {
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
}

.Aside2Col .Aside {
  width: 45%;
  margin: 10px;
}

.Aside3Col .Aside {
  width: 30%;
  margin: 10px;
}

.Aside p.AsideTitle {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin: 0px 0px 20px 0px;
  color: #1a533b;
  text-shadow: 1px 1px 1px #062919;
}

.TopOfPage {
  float: right;
  font-size: 0.75rem;
  margin: 0px;
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 1.75rem;
    margin: 0px 0px 30px 0px;
  }
  h2 {
    font-size: 1.25rem;
    margin: 20px 0px 10px 0px;
  }
  h3 {
    font-size: 1.0rem;
    margin: 20px 0px 5px 0px;
  }
  p, li {
    font-size: 0.85rem;
  }
  a {
    word-wrap: break-word;
    word-break: break-word;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
  }
  ul {
    padding: 0px 0px 0px 20px;
  }
  #SiteHeaderDiv {
    margin: 10px 0px 10px 0px;
  }
  .SiteHeaderMain {
    font-size: 1.5rem;
  }
  #Navbar {
    float: initial;
    width: initial;
    height: initial;
  }
  #NavbarContainer {
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    margin: 0px 0px 10px 0px;
    padding: 0px;
    background-color: #00104C;
    -webkit-transition: max-height 0.25s ease-in-out;
    transition: max-height 0.25s ease-in-out;
  }
  #NavbarList {
    padding: 20px 0px 20px 20px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #666;
  }
  #MenuDisplay {
    display: block;
    margin: 0px 0px 10px 10px;
    font-size: 1.25rem;
  }
  #MainContent {
    width: initial;
    max-width: initial;
    min-width: initial;
    margin: 0px;
    padding: 0px;
  }
  #Content {
    width: 100%;
    float: initial;
    border-radius: initial;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 10px 10px 35px 10px;
  }
  .NavbarItem {
    width: 280px;
    background-color: #001c82;
  }
  .active, .NavbarItem:hover {
    border-color: #999;
  }
  .SocialMediaLogo {
    top: 10px;
    left: 10px;
  }
  .HeaderInquiry {
    font-size: 1.5rem;
  }
  .HeaderCommissionTitle {
    font-size: 2.25rem;
  }
  .ExpandableSectionTitle {
    font-size: 0.75rem;
  }
  .ExpandableSectionUnderTitleLeft {
    font-size: 0.5rem;
  }
  .ExpandableSectionUnderTitleRight {
    font-size: 0.5rem;
  }
}

@supports (display: grid) {
  html, body {
    margin: 0px;
    padding: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000d3d;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#000d3d), to(#001c82));
    background-image: linear-gradient(to top, #000d3d, #001c82);
  }
  #MainContent {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(200px, 300px) 1fr;
        grid-template-columns: minmax(200px, 300px) 1fr;
    width: 94.75vw;
    margin: 0px auto;
  }
  #Navbar {
    float: none;
    width: initial;
    height: initial;
    position: relative;
    top: 0px;
    left: 0px;
  }
  #Content {
    width: initial;
    background-color: white;
    float: none;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.75);
  }
  #Footer {
    color: gray;
    text-align: center;
    margin: 80px 0px 20px 0px;
  }
  #NavbarList {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .ExpandableSectionTitleContainer {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .ExpandableSectionTitle {
    grid-column: span 2;
  }
  .ExpandableSectionUnderTitleLeft {
    float: initial;
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .ExpandableSectionUnderTitleRight {
    float: initial;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .ExpandableSection {
    display: none;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
  .Aside {
    width: initial;
    float: none;
  }
  .Aside2Col .Aside {
    width: initial;
    float: none;
  }
  .Aside3Col .Aside {
    width: initial;
    float: none;
  }
  .Aside2Col {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .Aside3Col {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
  @media only screen and (max-width: 1000px) {
    #MainContent {
      width: initial;
      -ms-grid-columns: 1fr;
          grid-template-columns: 1fr;
    }
    #Content {
      width: initial;
      border-radius: 0px;
      margin: 0px;
    }
    .Aside2Col {
      -ms-grid-columns: 1fr;
          grid-template-columns: 1fr;
    }
    .Aside3Col {
      -ms-grid-columns: 1fr;
          grid-template-columns: 1fr;
    }
    .ExpandableSection {
      max-width: 100% !important;
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-column: 1 / span 1;
    }
  }
}
/*# sourceMappingURL=main.css.map */