@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baskervville&display=swap');

$bgColor: white;
$mainTextColor: #666;
$sectionBorderRadius: 5px;
$gradientLighter: #001c82;
$gradientDarker: #000d3d;
$contentSidePadding: 40px;

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  overflow-y: scroll;
}

img {
  display: block;
}

* {
  box-sizing: border-box;
}

a {
  color: #002bc5;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.25s;
}

a:hover {
  color: #333;
  border-radius: 3px;
  background-color: #cee2ff;
}

h1 {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 100;
  padding: 0px;
  margin: 0px 0px 30px 0px;
}

h2, h3 {
  color: #666;
}

ol > li, ul > li {
  margin: 0px;
  padding: 0px 0px 8px 0px;
}

strong {
  font-weight: 600;
}

#Header {
  width: 100%;
}

#MainContent {
  width: 94.75%;
  max-width: 1500px;
  min-width: 300px;
  margin: 0px auto;
  padding: 1px;
}

#Navbar {
  float: left;
  width: 25%;
  height: 100%;
  position: relative;
  top: 0px;
  left: 0px;
}

#Content {
  width: 74%;
  background-color: white;
  float: right;
  border-radius: $sectionBorderRadius;
  padding: 40px $contentSidePadding 35px $contentSidePadding;
  margin: 0px 0px 40px 0px;
  box-shadow: 0px 0px 80px rgba(#000000, 0.75);
}

#Footer {
  color: lighten($mainTextColor, 10%);
  text-align: center;
  margin: 80px 0px 20px 0px;
}

#SiteHeaderDiv {
  text-align: center;
  margin: 10px 0px 40px 0px;
}

.SiteHeaderMain {
  color: white;
  text-align: center;
}

.HeaderInquiry {
  font-family: 'Baskervville', sans-serif;
  font-size: 1.5rem;
  padding: 0px;
  margin: 20px 0px 0px 0px;

}

.HeaderCommissionTitle {
  font-family: 'Baskervville', sans-serif;
  font-size: 3.25rem;
  font-weight: 300;
  padding: 0px;
  margin: 0px;
}

$navbarSpacing: 6px;
$navbarItemMargin: $navbarSpacing 10px $navbarSpacing 20px;
$navbarItemPadding: 10px 20px;
$navbarItemOffsetPadding: 40px;

.NavbarItem {
  font-size: 0.9rem;
  margin: $navbarItemMargin;
  padding: $navbarItemPadding;
  color: white;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: rgba(#fff, 0.3);
  background-color: rgba(#fff, 0);
  background-image: linear-gradient(to bottom, rgba(#fff, 0.35), rgba(#fff, 0.05));
  box-shadow: 0px 0px 5px rgba(#000, 0.45) inset;
  cursor: pointer;
  transition: all 0.25s;

  p {
    margin: 0px;
    padding: 0px;
  }
  
}

.active, .NavbarItem:hover {
  border-color: #666;
  background-color: white;
  color: #666;
  margin-left: 0px;
  padding-left: $navbarItemOffsetPadding;
}

.NavbarItem:first-child {
  margin-top: 0px !important;
}

a.NavbarLink {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  background-color: transparent;
}

.HasSubNav {
  padding: 10px;
}

.HasSubNav:hover {
  padding-left: 30px;
}

.SubNavList {
  margin: 0px 10px $navbarSpacing 0px;
  padding: 0px;
  border-radius: 5px;
  background-color: white;
  display: none;
  overflow: hidden;

  p {
    color: #666;
    margin: 0px;
    padding: 8px 20px;
    transition: background-color 0.35s ease-in-out;
  }
  
  p:hover {
    background-color: #ccc;
    color: black;
  }
  
  a {
    color: inherit;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    background-color: transparent;
  }
  
}

.FooterNavbarLink {
  font-size: 0.75rem;
  font-weight: 400;
  color: #666;
  text-decoration: underline;
}

.FooterDisclaimer {
  font-size: 0.75rem;
  font-weight: 400;
  color: #000d3d;
  text-decoration: underline;
  text-align: center;
  margin: 0px 0px 30px 0px;
}

.fa-bars {
  color: white;
}

.fa-external-link-alt {
  color: black;
}

#MenuDisplay {
  display: none;
  font-size: 2rem;
  text-align: left;
}

.NumberedList {
  list-style-type: decimal;
}

.LowerAlphaList {
  list-style-type: lower-alpha;
}

.UpperAlphaList {
  list-style-type: upper-alpha;
}

.LowerRomanList {
  list-style-type: lower-roman;
}

.UpperRomanList {
  list-style-type: upper-roman;
}

$ReleaseBGLight: #eee;
$ReleaseTextColor: #666;

.ReleaseTitleContainer {
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-color: #666;
  background-color: $ReleaseBGLight;
  box-shadow: 0px 0px 0px rgba(black, 0);
  padding: 20px 30px;
  margin: -1px 0px 0px 0px;
  z-index: 0;
  cursor: pointer;
  transition: box-shadow 0.25s, background-image 0.25s;
}

.ReleaseTitleContainer:hover {
  background-color: white;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.35);
  z-index: 1;
}

.ReleaseTitle {
  color: $ReleaseTextColor;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0px;
  padding: 0px;
}

.ReleaseUnderTitleLeft {
  color: $ReleaseTextColor;
  font-weight: 600;
  font-size: 0.85rem;
  float: left;
  margin: 0px;
  padding: 0px;
}

.ReleaseUnderTitleRight {
  color: $ReleaseTextColor;
  font-weight: 600;
  font-size: 0.85rem;
  float: right;
  margin: 0px;
  padding: 0px;
}

.Release {
  display: none;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
  border-color: #ccc;
  background-color: white;
  padding: 25px;
}

@media only screen and (max-width: 1000px) {
  #Navbar {
    float: initial;
    width: initial;
    height: initial;
  }

  #NavbarContainer {
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    position: absolute;
    margin: 10px 0px 10px 0px;
    padding: 0px;
    background-color: white;
    transition: max-height 0.25s ease-in-out;
  }

  #NavbarList {
    padding: 20px 0px 20px 20px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #666;
  }
  
  #MenuDisplay {
    display: block;
    margin-left: 20px;
  }

  #MainContent {
    width: initial;
    max-width: initial;
    min-width: initial;
    margin: 0px;
    padding: 0px;
  }
  
  #Content {
    width: 100%;
    float: initial;
    border-radius: initial;
    box-shadow: none;
  }
  
  .NavbarItem {
    width: 280px;
    background-color: $gradientLighter;
  }
  
  .active, .NavbarItem:hover {
    border-color: #999;
  }

  .HeaderInquiry {
    font-size: 1.5rem;
  }

  .HeaderCommissionTitle {
    font-size: 2.25rem;
  }

}

@supports (display: grid) {

  html, body {
    margin: 0px;
    padding: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $gradientDarker;
    background-image: linear-gradient(to top, $gradientDarker, $gradientLighter);
  }
  
  #MainContent {
    display: grid;
    grid-template-columns: minmax(200px, 300px) 1fr;
    width: 94.75vw;
    margin: 0px auto;
  }
  
  #Navbar {
    float: none;
    width: initial;
    height: initial;
    position: relative;
    top: 0px;
    left: 0px;
  }
  
  #Content {
    width: initial;
    background-color: white;
    float: none;
    border-radius: $sectionBorderRadius;
    box-shadow: 0px 0px 80px rgba($color: #000000, $alpha: 0.75);
  }
  
  #Footer {
    color: lighten($mainTextColor, 10%);
    text-align: center;
    margin: 80px 0px 20px 0px;
  }
    
  #NavbarList {
    display: grid;
    grid-template-columns: 1fr;
  }

  .ReleaseTitleContainer {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    cursor: pointer;
    transition: box-shadow 0.25s, background-image 0.25s;
  }
  
  .ReleaseTitle {
    grid-column: span 2;
    color: $ReleaseTextColor;
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0px;
    padding: 0px;
  }
  
  .ReleaseUnderTitleLeft {
    color: $ReleaseTextColor;
    font-weight: 600;
    font-size: 0.85rem;
    float: initial;
    justify-self: start;
    margin: 0px;
    padding: 0px;
  }
  
  .ReleaseUnderTitleRight {
    color: $ReleaseTextColor;
    font-weight: 600;
    font-size: 0.85rem;
    float: initial;
    justify-self: end;
    margin: 0px;
    padding: 0px;
  }
  
  .Release {
    display: none;
    background-color: transparent;
    padding: 25px;
    grid-column: 1 / span 2;
  }
  
  @media only screen and (max-width: 1000px) {

    #MainContent {
      width: initial;
      grid-template-columns: 1fr;
    }

    #Content {
      width: initial;
      border-radius: 0px;
      margin: 0px;
    }

  }
  
}